# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
backend/.env
frontend/.env
queryEngine/.env

# Logs
*.log

# backend related folder and files 
backend/uploads/
!backend/uploads/.gitkeep

#sys rules
backend/sysRules

