# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Logs
*.log

# backend related folder and files 
backend/uploads/
!backend/uploads/.gitkeep

#sys rules
backend/sysRules
backend/sysRules/insightQueryService.txt
backend/sysRules/humanizeEngineResponse.txt
backend/sysRules/humanizeInsights.txt
backend/sysRules/queryGenerationrules.txt

